@font-face {
  font-family: "Raleway", sans-serif;
  src: url(fonts/Raleway/static/Raleway-Medium.ttf) format(ttf);
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url(fonts/Lato/Lato-Regular.ttf) format(ttf);
}
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

img {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

img[data-src] {
  opacity: 0;
}

input,
input:focus {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  color: #363739d3;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

@-webkit-keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes floatSearch {
  0% {
    top: 0%;
  }
  20% {
    top: 20%;
  }
  40% {
    top: 40%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
@keyframes floatSearch {
  0% {
    top: 0%;
  }
  20% {
    top: 20%;
  }
  40% {
    top: 40%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 80%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes floatLeftSearch {
  0% {
    left: 10%;
  }
  20% {
    left: 30%;
  }
  40% {
    left: 50%;
  }
  60% {
    left: 70%;
  }
  80% {
    left: 30%;
  }
  100% {
    left: 10%;
  }
}
@keyframes floatLeftSearch {
  0% {
    left: 10%;
  }
  20% {
    left: 30%;
  }
  40% {
    left: 50%;
  }
  60% {
    left: 70%;
  }
  80% {
    left: 30%;
  }
  100% {
    left: 10%;
  }
}
.message {
  opacity: 0;
  color: #f54906;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.aftercheckbox {
  display: block;
}

.status-message {
  color: #2cd4d9;
  font-size: 0.9rem;
}

.displayNone {
  display: none;
}

.mac-image.iPad {
  display: none;
}

.mac-image.iPhone {
  display: none;
}

.transform45deg {
  transform: rotate(45deg) translateY(11px) translateX(11px);
}

.transformMin45deg {
  transform: rotate(-45deg) translateY(-11px) translateX(11px);
}

.disabled p {
  text-decoration: line-through;
}

.commit p {
  margin: 0;
  font-size: 0.5rem;
  color: #5333ed;
}

.price-title {
  text-align: center;
  transition: opacity 0.3s ease-in;
  opacity: 0.5;
}

.gift-icon {
  position: absolute;
  z-index: 88;
}

.swiper-container {
  width: 375px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 295px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3rem;
  left: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1rem;
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-right: 2rem;
}

.wrapper {
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  overflow-x: hidden;
  padding-left: 100px;
  padding-top: 0;
}
.wrapper h1,
.wrapper h2,
.wrapper h3 {
  font-family: "Raleway", sans-serif;
}
.wrapper h5 {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 32px;
}
.wrapper h4,
.wrapper p,
.wrapper a {
  font-family: "Lato", sans-serif;
}
.wrapper h1 {
  margin-top: calc(2rem + 1vh);
  font-style: normal;
  font-weight: bold;
  font-size: calc(3rem + 1vw);
  line-height: 2;
}
.wrapper h2 {
  font-weight: bold;
  font-size: calc(170% + 1vw);
  line-height: 2;
  padding-left: 8.75rem;
}
.wrapper h3 {
  font-size: calc(63% + 1vw);
  line-height: 1.5;
  font-weight: 300;
}
.wrapper h4 {
  font-weight: 300;
  font-size: calc(1rem + 1vw);
  line-height: 1;
}
.wrapper p {
  font-size: calc(.9rem + .5vw);
  line-height: 1.2;
  font-weight: 400;
}
.wrapper section {
  padding: 6% 4%;
}
.wrapper section h2 {
  color: #363739d3;
}
.wrapper .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}
.wrapper .overlay {
  z-index: 99;
  left: 0;
  top: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.5s ease-in;
  padding: 2rem;
}
.wrapper .overlay .popup {
  background-color: #f2f5fee5;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
  color: #5333ed;
  position: absolute;
  overflow: visible;
  margin: auto;
  right: 0;
  width: 50%;
  height: 100%;
  top: 0;
  width: 50%;
}
.wrapper .overlay .popup .popup-title {
  margin-top: 2rem;
}
.wrapper .overlay .popup h3 {
  margin-bottom: 1rem;
}
.wrapper .overlay .popup h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
}
.wrapper .overlay .popup input {
  border: 1px solid #5333ed;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
}
.wrapper .overlay .popup input:focus {
  border: 1px solid #2cd4d9;
}
.wrapper .overlay .popup input._error {
  border: 1px solid #f54906;
}
.wrapper .overlay .popup ::-moz-placeholder {
  font-size: calc(.5rem + .5vw);
  opacity: 0.5;
}
.wrapper .overlay .popup :-ms-input-placeholder {
  font-size: calc(.5rem + .5vw);
  opacity: 0.5;
}
.wrapper .overlay .popup ::placeholder {
  font-size: calc(.5rem + .5vw);
  opacity: 0.5;
}
.wrapper .overlay .popup .button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #5333ed;
  border: 1px solid #5333ed;
  color: #F2F5FE;
  font-size: calc(1rem + .5vw);
  outline: none;
  transition: box-shadow 0.3s ease-in;
}
.wrapper .overlay .popup .button:hover {
  box-shadow: 2px 2px 10px #2cd4d9;
}
.wrapper .overlay .popup .button:focus {
  border: 1px solid #2cd4d9;
  outline: none;
  background-color: #2cd4d9;
  box-shadow: none;
}
.wrapper .overlay .popup__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.wrapper .overlay .popup__close img {
  width: 2rem;
}
.wrapper .overlay .popup .form-agree {
  position: relative;
}
.wrapper .overlay .popup .form-agree .checkbox_input {
  display: none;
}
.wrapper .overlay .popup .form-agree .checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}
.wrapper .overlay .popup .form-agree .checkbox_label::before {
  align-self: flex-start;
  flex: 0 0 1.5rem;
  content: "";
  height: 1.5rem;
  border-radius: 2px;
  border: 1px solid #5333ed;
  transition: content 0.5s ease-in;
}
.wrapper .overlay .popup .form-agree .checkbox_label::before._error {
  box-shadow: 1px 1px 2px #f54906;
}
.wrapper .overlay .popup .form-agree .checkbox_label::after {
  position: absolute;
  content: url("../images/checked-mark.svg");
  opacity: 0;
  top: -0.5rem;
  left: 0px;
  transition: content 0.5s ease-in;
}
.wrapper .overlay .popup .form-agree .checkbox_label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 0.7rem;
  color: #5333ed;
}
.wrapper .overlay .popup .form-agree .checkbox_label span {
  margin-left: 2.5rem;
  font-size: 0.7rem;
}
.wrapper .overlay .popup .form-agree .checkbox_label a {
  display: inline;
  color: #2cd4d9;
}
.wrapper .overlay .popup .form-agree span.message {
  position: absolute;
  top: 2rem;
}
.wrapper .header {
  width: 6.25rem;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F5FE;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  border-right: 0.5px solid #363739;
}
.wrapper .header .nav-title {
  margin-bottom: 15rem;
  transform: rotate(-90deg);
  width: 16rem;
  font-size: calc(.9rem + 1vh);
  letter-spacing: 1.5px;
}
.wrapper .header .nav-burger {
  width: 2.5rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 89;
  position: relative;
  cursor: pointer;
}
.wrapper .header .nav-burger .line {
  background-color: #363739;
  width: 100%;
  height: 1px;
  transition: all 0.5s ease-in;
}
.wrapper .header .logo {
  width: 4.25rem;
  height: 2.43rem;
  cursor: pointer;
}
.wrapper .nav-bar {
  width: 40vw;
  transform: translateX(-40vw);
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 89;
  background-color: #F2F5FE;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: transform 0.5s ease-in;
  padding-left: 3rem;
}
.wrapper .nav-bar .nav-bar-links {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40%;
  justify-content: space-between;
}
.wrapper .nav-bar .nav-bar-links a {
  padding: 0.3rem;
  position: relative;
  cursor: pointer;
  font-size: calc(1rem + .5vw);
}
.wrapper .nav-bar .nav-bar-links a::before {
  transition: all 0.5s ease-in;
  position: absolute;
  content: "";
  background-color: #363739;
  top: 100%;
  width: 0rem;
  height: 1px;
}
.wrapper .nav-bar .nav-bar-links a:hover::before {
  width: 90%;
}
.wrapper .nav-bar .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.wrapper .nav-bar .social-icons img {
  width: 1.5rem;
  opacity: 0.7;
  margin-top: 1rem;
  cursor: pointer;
}
.wrapper .about {
  padding-top: 10%;
  padding-right: 6.25rem;
  background: linear-gradient(240.59deg, rgba(105, 176, 249, 0.8) 18.61%, rgba(88, 76, 239, 0.8) 63.63%), #5333ED;
  color: #F2F5FE;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}
.wrapper .about .phone-header {
  background-color: #F2F5FE;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 1rem;
}
.wrapper .about .phone-header a {
  color: #363739;
  margin: auto;
  font-size: 150%;
  transition: color 0.3s ease-in;
  cursor: pointer;
}
.wrapper .about .phone-header a:hover {
  color: #2cd4d9;
}
.wrapper .about .phone-header .phone-button {
  width: initial;
  border: 1px solid #5333ed;
  background-color: #F2F5FE;
  cursor: pointer;
  padding: 1.5% 3%;
  margin-right: 3%;
  transition-property: background-color color;
  transition-duration: 0.3s, 0.3s;
  color: #5333ed;
}
.wrapper .about .phone-header .phone-button:hover {
  background-color: #5333ed;
  color: #F2F5FE;
}
.wrapper .about h1 {
  margin-bottom: calc(1rem + 1vh);
  z-index: 5;
}
.wrapper .about .search {
  animation: floatSearch 25s infinite linear alternate-reverse, floatLeftSearch 15s linear infinite alternate-reverse;
  position: absolute;
  z-index: 0;
  width: 14vw;
}
.wrapper .about__main {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .about__main h3 {
  z-index: 5;
  margin-bottom: calc(2rem + 1vh);
  padding: 0;
}
.wrapper .about__main .button {
  width: 24%;
  height: 8%;
  border: 1px solid #F2F5FE;
  background-color: #5847eecb;
  padding: 5% 20%;
  cursor: pointer;
  transition-property: background-color color;
  transition-duration: 0.3s, 0.3s;
  z-index: 5;
  position: relative;
  font-size: calc(1rem + 1vw);
  margin-bottom: 0;
  font-weight: 300;
  color: #F2F5FE;
}
.wrapper .about__main .button:hover {
  background-color: #F2F5FE;
  color: #5333ed;
}
.wrapper .about__mac-image {
  grid-column: 2/3;
  position: relative;
}
.wrapper .about__mac-image .mac-image {
  margin-top: 2rem;
  width: 100%;
}
.wrapper .about__mac-image .iMac {
  border-radius: 20px;
  box-shadow: 12px 0px 20px #5333ed;
}
.wrapper .propose {
  padding-bottom: 8%;
  background-color: #F2F5FE;
  color: #060411;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  position: relative;
}
.wrapper .propose .search {
  position: absolute;
  width: 10%;
  height: auto;
  z-index: 0;
  display: none;
}
.wrapper .propose h2 {
  grid-row: 1/2;
  grid-column: 1/3;
  z-index: 5;
}
.wrapper .propose__image {
  grid-column: 1/2;
  grid-row: 2/3;
}
.wrapper .propose__image .robot {
  width: 70%;
}
.wrapper .propose__list {
  grid-column: 2/3;
  grid-row: 2/3;
}
.wrapper .propose__list ul {
  width: 100%;
  list-style-image: url("../images/list-marker.png");
  z-index: 5;
  position: relative;
}
.wrapper .propose__list ul p {
  font-weight: 300;
  line-height: 130%;
  padding: 0 1.5rem;
}
.wrapper .propose__list ul li {
  margin-bottom: 2rem;
}
.wrapper .hints {
  position: relative;
  background: linear-gradient(180deg, #50D3E8 -50.31%, #5333ED 43.61%);
  color: #F2F5FE;
}
.wrapper .hints h2 {
  color: #F2F5FE;
  z-index: 5;
  position: relative;
}
.wrapper .hints h3 {
  position: relative;
  padding-left: 8.75rem;
  z-index: 5;
}
.wrapper .hints .hint-stages {
  margin-top: 4.125rem;
  display: flex;
}
.wrapper .hints .hint-stages .stage {
  display: flex;
  max-width: 25%;
  position: relative;
  z-index: 5;
}
.wrapper .hints .hint-stages .stage__num {
  padding-right: 1rem;
  padding-top: 0.5rem;
}
.wrapper .hints .hint-stages .stage__num p {
  opacity: 0.5;
  font-weight: normal;
  font-size: calc(1rem + 1vw);
  line-height: 1.2;
}
.wrapper .hints .hint-stages .stage__card {
  position: relative;
}
.wrapper .hints .hint-stages .stage__card .card__content {
  height: 40%;
  padding: 0 6%;
  padding-right: 0;
  border-left: 1px solid #F2F5FE;
  padding-bottom: 4rem;
}
.wrapper .hints .hint-stages .stage__card .card__content p {
  font-size: calc(.7rem + .5vw);
  padding-bottom: 2rem;
}
.wrapper .hints .hint-stages .stage__card .card__icon {
  opacity: 0.7;
  width: 70%;
}
.wrapper .hints .search {
  position: absolute;
  width: 16%;
  z-index: 0;
  display: none;
}
.wrapper .work-with-us {
  background: linear-gradient(270deg, rgba(87, 71, 239, 0.8) -16.43%, rgba(122, 216, 231, 0) 46.28%), #50D3E8;
}
.wrapper .work-with-us h2 {
  position: relative;
  margin-bottom: 2rem;
  color: #F2F5FE;
}
.wrapper .work-with-us .stage-wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 80% 20%;
}
.wrapper .work-with-us .stage-wrapper .stage-header {
  grid-column: 2/3;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .work-with-us .stage-wrapper .stage-header h3 {
  text-align: center;
  font-weight: 700;
  transition: text-shadow 0.3s ease-in;
  text-shadow: none;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block {
  color: #363739;
  background-color: #F2F5FE;
  border-radius: 0px 10px 10px 0px;
  padding: 1rem 2rem;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease-in;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block:last-child {
  margin-bottom: 0;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block:hover {
  opacity: 0.8;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block:hover h3 {
  text-shadow: 3px 2px 4px #2cd4d9;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block .stage-icon {
  display: none;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block.active-header {
  opacity: 1;
  color: #2cd4d9;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block.active-header:hover {
  opacity: 1;
}
.wrapper .work-with-us .stage-wrapper .stage-header__block.active-header:hover h3 {
  text-shadow: none;
}
.wrapper .work-with-us .stage-wrapper .active-header {
  opacity: 1;
  color: #2cd4d9;
}
.wrapper .work-with-us .stage-wrapper .active-header:hover {
  opacity: 1;
}
.wrapper .work-with-us .stage-wrapper .active-header:hover h3 {
  text-shadow: none;
}
.wrapper .work-with-us .stage-wrapper .stage-content {
  grid-column: 1/2;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block {
  border-radius: 10px 0px 0px 10px;
  background-color: #F2F5FE;
  height: 100%;
  position: relative;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items {
  display: flex;
  background-position: center center;
  background-size: cover;
  height: 100%;
  transition: background-image 0.3s ease-in;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items .items-title {
  position: absolute;
  width: 90%;
  bottom: 1rem;
  background-color: #f2f5febb;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items .items-title h3 {
  font-weight: 600;
  opacity: 1;
  padding: 1rem;
  padding-bottom: 0;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items .items-title p {
  text-align: left;
  font-size: calc(.9rem + .5vw);
  padding: 1rem;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items img {
  width: 100%;
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items.meeting {
  background-image: url("../images/stage-meeting.webp");
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items.tariff {
  background-image: url("../images/stage-tariff.webp");
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items.payment {
  background-image: url("../images/stage-payment.webp");
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items.learning {
  background-image: url("../images/mashine-learning.webp");
}
.wrapper .work-with-us .stage-wrapper .stage-content__block__items.money {
  background-image: url("../images/stage-money.webp");
}
.wrapper .prices {
  background-color: #F2F5FE;
}
.wrapper .prices h3 {
  padding-left: 8.75rem;
}
.wrapper .prices .card-wrapper {
  position: relative;
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.wrapper .prices .card-wrapper .wrap {
  min-height: 10rem;
}
.wrapper .prices .card-wrapper .wrap .card {
  height: 100%;
  width: 16vw;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 10px 10px 40px #dedeec;
  border-radius: 0.5rem;
  cursor: pointer;
}
.wrapper .prices .card-wrapper .wrap .card .button {
  box-shadow: initial;
  margin-top: 0.5rem;
  border: 1px solid #5333ed;
  background-color: #F2F5FE;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #5333ed;
  cursor: pointer;
  outline: none;
  margin: auto;
}
.wrapper .prices .card-wrapper .wrap .card .gift-icon {
  top: 0.5%;
  right: 11%;
  width: 14%;
}
.wrapper .prices .card-wrapper .wrap .card .gift-icon.small {
  top: 2.2%;
  right: 1%;
  width: 8%;
}
.wrapper .prices .card-wrapper .wrap .card .u-list {
  z-index: 70;
  width: 100%;
  margin-bottom: 2rem;
}
.wrapper .prices .card-wrapper .wrap .card .u-list .list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 3%;
}
.wrapper .prices .card-wrapper .wrap .card .u-list .list-item .checkbox {
  width: 1.2rem;
}
.wrapper .prices .card-wrapper .wrap .card .u-list .list-item p {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-top: 0;
  line-height: 1;
}
.wrapper .prices .card-wrapper .wrap .card .price {
  width: 100%;
}
.wrapper .prices .card-wrapper .wrap .card .price .button {
  width: 100%;
  padding: 0.5rem;
}
.wrapper .prices .card-wrapper .wrap .card .blue-rect {
  position: absolute;
  width: 25%;
  height: 65%;
  background-color: #2cd4d9;
  opacity: 0.2;
  left: 0;
  top: 5rem;
  transition: opacity 0.3s ease-in;
}
.wrapper .prices .card-wrapper .wrap .card .card-title {
  margin-bottom: 2rem;
  transition: color 0.3s ease-in;
}
.wrapper .prices .card-wrapper .wrap .card h2,
.wrapper .prices .card-wrapper .wrap .card h3 {
  font-size: calc(1rem + 1vw);
  padding-left: 0;
}
.wrapper .prices .card-wrapper .wrap .card h2 {
  font-size: calc(1.5rem + 1vw);
}
.wrapper .prices .card-wrapper .wrap .card:hover, .wrapper .prices .card-wrapper .wrap .card:focus {
  z-index: 99;
}
.wrapper .prices .card-wrapper .wrap .card:hover .card-title, .wrapper .prices .card-wrapper .wrap .card:focus .card-title {
  color: #2cd4d9;
}
.wrapper .prices .card-wrapper .wrap .card:hover .price-title, .wrapper .prices .card-wrapper .wrap .card:focus .price-title {
  opacity: 1;
}
.wrapper .prices .card-wrapper .wrap .card:hover .blue-rect, .wrapper .prices .card-wrapper .wrap .card:focus .blue-rect {
  opacity: 0.7;
}
.wrapper .prices .card-wrapper .wrap .card .button:hover {
  border: 1px solid #2cd4d9;
  color: #F2F5FE;
  background-color: #2cd4d9;
}
.wrapper .mobile-prices {
  position: relative;
  display: none;
}
.wrapper .mobile-prices .swiper-pagination {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 2rem;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card {
  border-radius: 20px;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 10px 10px 40px #dedeec;
  border-radius: 0.5rem;
  cursor: pointer;
  background-image: url("../images/blue-top.svg");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: top;
  transition: background-image 0.3s ease-in;
  padding: 1rem;
  height: 100%;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
  box-shadow: initial;
  margin-top: 0.5rem;
  border: 1px solid #5333ed;
  background-color: #F2F5FE;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #5333ed;
  cursor: pointer;
  outline: none;
  margin: auto;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
  font-size: 2rem;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #5333ed;
  outline: none;
  background-color: #F2F5FE;
  transition: background-color 0.6s ease-in, color 0.6s ease, border 0.6s ease;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card:hover {
  background-image: url("../images/aqua-top.svg");
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card:hover h3 {
  color: #F2F5FE;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card:hover .price-title {
  opacity: 1;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button:hover {
  background-color: #2cd4d9;
  color: #F2F5FE;
  border: 1px solid #2cd4d9;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .card-title {
  margin-bottom: 4rem;
  font-weight: 600;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.small {
  width: 9%;
  top: 2rem;
  right: 2rem;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.large {
  width: 12%;
  top: 1.8rem;
  right: 5.5rem;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list {
  position: relative;
  z-index: 70;
  padding-top: 0rem;
  margin-bottom: 2rem;
  min-height: 25.5rem;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list .list-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list .list-item p {
  padding-top: 0.7rem;
  text-align: start;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list .list-item .checkbox {
  margin-right: 1rem;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .price {
  width: 100%;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card h3,
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card h2 {
  padding-left: 0;
}
.wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card h2 {
  font-size: calc(1.7rem + 1vw);
  padding-top: 2rem;
}
.wrapper .faq {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
  background: linear-gradient(180.65deg, rgba(21, 136, 156, 0.8) 35.71%, rgba(80, 211, 232, 0.8) 60.95%), #50D3E8;
  padding-bottom: 7rem;
  color: #F2F5FE;
}
.wrapper .faq h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  color: inherit;
}
.wrapper .faq .search {
  width: 22vw;
  position: absolute;
  z-index: 1;
  display: none;
}
.wrapper .faq .quest-image {
  margin-top: 2rem;
  width: 20vw;
}
.wrapper .faq .accordion {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow: hidden;
  position: absolute;
}
.wrapper .faq .accordion__items {
  position: absolute;
  list-style: none;
}
.wrapper .faq .faq-wrapper {
  width: 100%;
  position: relative;
  padding-left: 0;
}
.wrapper .faq .faq-wrapper .faq-item {
  width: 100%;
  color: #363739;
  border-radius: 0.5rem;
  border: 1px solid #F2F5FE;
  padding: 3%;
  background-color: #F2F5FE;
  transition: all 0.6s ease-in;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 88;
  outline: none;
}
.wrapper .faq .faq-wrapper .faq-item .faq-mark {
  width: 1.5rem;
  height: 1rem;
  background-image: url("../images/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrapper .faq .faq-wrapper .faq-item:hover, .wrapper .faq .faq-wrapper .faq-item:focus {
  cursor: pointer;
  background-color: #2cd4d9;
  border: 1px solid #F2F5FE;
  color: #F2F5FE;
  outline: none;
}
.wrapper .faq .faq-wrapper .faq-item:hover .faq-mark, .wrapper .faq .faq-wrapper .faq-item:focus .faq-mark {
  background-image: url("../images/plusWhite.svg");
}
.wrapper .faq .faq-wrapper .active > .faq-item {
  background-color: #F2F5FE;
  color: #2cd4d9;
}
.wrapper .faq .faq-wrapper .active > .faq-item .faq-mark {
  border: #2cd4d9;
  background-image: url("../images/minusAqua.svg");
  height: 2px;
}
.wrapper .faq .faq-wrapper .answer-item {
  color: #363739;
  width: 100%;
  padding: 0rem;
  background-color: #7aeff3;
  margin-top: -0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 70;
  max-height: 0;
  opacity: 0;
  transition: all 0.6s ease-in;
}
.wrapper .faq .faq-wrapper .answer-item p {
  padding: 2rem;
  opacity: 0;
}
.wrapper .faq .faq-wrapper .active > .answer-item {
  max-height: 20rem;
  opacity: 1;
}
.wrapper .faq .faq-wrapper .active > .answer-item p {
  transition: opacity 0.9s ease-in;
  opacity: 0.8;
  padding: 2rem;
}
.wrapper .contacts {
  background: linear-gradient(270deg, rgba(54, 55, 57, 0.8) 72.86%, rgba(80, 211, 232, 0.8) 132.76%), #363739;
  padding: 0;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: space-between;
}
.wrapper .contacts .adres {
  width: 80%;
}
.wrapper .contacts .adres .phone {
  cursor: pointer;
  color: #2cd4d9;
}
.wrapper .contacts h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  padding-top: 4rem;
  padding-left: 15vw;
  color: #F2F5FE;
  margin-bottom: 2rem;
}
.wrapper .contacts .contacts-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.wrapper .contacts .contacts-items .subscribe {
  padding-left: 0;
  margin-left: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
.wrapper .contacts .contacts-items h4 {
  color: #F2F5FE;
  margin-left: 9vw;
  font-weight: 300;
  line-height: 1.5;
}
.wrapper .contacts .contacts-items p {
  padding-left: 15vw;
  color: #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form {
  opacity: 0.7;
  background-color: initial;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-left: 5vw;
  margin-right: 2rem;
}
.wrapper .contacts .contacts-items .feedback-form input {
  background-color: initial;
  margin: 1rem;
  border-bottom: 1px solid #F2F5FE;
  padding: 1rem 4rem;
  padding-left: 0;
  color: #F2F5FE;
  font-size: calc(.5rem + .9vw);
  outline: none;
}
.wrapper .contacts .contacts-items .feedback-form input:invalid {
  border: none;
  border-bottom: 1px solid #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form input:invalid:required {
  border: none;
  border-bottom: 1px solid #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form input:valid {
  border: none;
  border-bottom: 1px solid #2cd4d9;
}
.wrapper .contacts .contacts-items .feedback-form input._error {
  border-bottom: 1px solid #f54906;
}
.wrapper .contacts .contacts-items .feedback-form input::-moz-placeholder {
  color: #F2F5FE;
  width: 18rem;
  font-size: calc(.5rem + .9vw);
  opacity: 0.5;
}
.wrapper .contacts .contacts-items .feedback-form input:-ms-input-placeholder {
  color: #F2F5FE;
  width: 18rem;
  font-size: calc(.5rem + .9vw);
  opacity: 0.5;
}
.wrapper .contacts .contacts-items .feedback-form input::placeholder {
  color: #F2F5FE;
  width: 18rem;
  font-size: calc(.5rem + .9vw);
  opacity: 0.5;
}
.wrapper .contacts .contacts-items .feedback-form .feedback-button {
  border: 1px solid #F2F5FE;
  border-radius: 0.7rem;
  color: #F2F5FE;
  font-size: calc(.7rem + .9vw);
  background-color: initial;
  margin: 1rem;
  padding: 1rem;
  padding-left: 0;
  outline: none;
  text-align: center;
  transition: background-color 0.6s ease-in, color 0.6s ease-in;
}
.wrapper .contacts .contacts-items .feedback-form .feedback-button:hover {
  color: #363739;
  background-color: #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree {
  position: relative;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_input {
  display: none;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_label::before {
  align-self: flex-start;
  flex: 0 0 1.5rem;
  content: "";
  height: 1.5rem;
  border-radius: 2px;
  background-color: inherit;
  border: 1px solid #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_label::after {
  position: absolute;
  content: url("../images/checked-mark.svg");
  top: -0.5rem;
  left: 0px;
  height: 1.5rem;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 0.7rem;
  color: #F2F5FE;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_label span {
  margin-left: 2.5rem;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree .checkbox_label a {
  display: inline;
  color: #2cd4d9;
}
.wrapper .contacts .contacts-items .feedback-form .form-agree span.message {
  position: absolute;
  bottom: -2rem;
}
.wrapper .contacts .global-map-wrapper {
  width: 50vw;
  position: relative;
}
.wrapper .contacts .global-map-wrapper .map-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.wrapper .contacts .global-map-wrapper .map-wrapper #map {
  width: 100%;
  height: 100%;
}
.wrapper .contacts .search {
  position: absolute;
  left: 40%;
  top: 86%;
}
.wrapper .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, rgba(54, 55, 57, 0.8) 74.49%, rgba(80, 211, 232, 0.8) 132.76%), #363739;
  padding: 6.25rem 6.25rem 7.5rem 6.25rem;
  color: #F2F5FE;
  position: relative;
  flex-wrap: wrap;
}
.wrapper .footer .logo {
  margin: auto;
}
.wrapper .footer .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.wrapper .footer .footer-nav nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: center;
  opacity: 0.7;
}
.wrapper .footer .footer-nav nav a {
  font-size: calc(.5rem + .9vw);
  line-height: 1rem;
  font-weight: 300;
  text-align: start;
  position: relative;
  padding: 1rem;
  margin: auto;
}
.wrapper .footer .footer-nav nav a::before {
  transition: all 0.5s ease-in;
  position: absolute;
  content: "";
  background-color: #F2F5FE;
  top: 100%;
  width: 0rem;
  height: 1px;
}
.wrapper .footer .footer-nav nav a:hover::before {
  width: 100%;
}
.wrapper .footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin: auto;
}
.wrapper .footer .social-icons img {
  width: 2rem;
}
.wrapper .footer .copyright {
  position: absolute;
  bottom: 1rem;
  right: 6.25rem;
  font-size: calc(.3rem + .5vw);
}

@media all and (max-width: 1920px) {
  .wrapper .overlay .popup {
    width: 50%;
  }
  .wrapper .faq .quest-image {
    margin-top: 2rem;
    width: 25vw;
  }
  .wrapper .footer .social-icons {
    width: 20%;
  }
}
@media all and (max-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
  .wrapper h1 {
    font-size: calc(2.5rem + 1vw);
    line-height: 3rem;
  }
  .wrapper h2 {
    font-size: calc(1.5rem + 1vw);
    line-height: 3rem;
    padding-left: 6rem;
  }
  .wrapper h4 {
    line-height: 1rem;
  }
  .wrapper .about__main h3 {
    padding: 0;
  }
  .wrapper .propose__image .robot {
    width: 40vw;
  }
  .wrapper .propose__list ul {
    width: 100%;
  }
  .wrapper .propose__list ul li {
    margin-bottom: 1rem;
  }
  .wrapper .hints h3 {
    padding-left: 6rem;
  }
  .wrapper .hints .hint-stages {
    margin-top: 4.125rem;
  }
  .wrapper .hints .hint-stages .stage {
    display: flex;
    width: 100%;
  }
  .wrapper .hints .hint-stages .stage__card .card__content p {
    font-size: calc(.5rem + .5vw);
  }
  .wrapper .hints .search {
    position: absolute;
    top: 80%;
    left: 70vw;
  }
  .wrapper .work-with-us h2 {
    margin-bottom: 2rem;
  }
  .wrapper .prices h3 {
    padding-left: 6rem;
  }
  .wrapper .prices .card-wrapper {
    padding-top: 3rem;
  }
  .wrapper .prices .card-wrapper .wrap .card {
    padding: 1rem;
    width: 16vw;
  }
  .wrapper .prices .card-wrapper .wrap .card .card-title {
    margin-bottom: 2rem;
  }
  .wrapper .prices .card-wrapper .wrap .card h2,
.wrapper .prices .card-wrapper .wrap .card h3 {
    font-size: calc(1rem + 1vw);
    padding-left: 0;
  }
  .wrapper .prices .card-wrapper .wrap .card h2 {
    font-size: calc(1.5rem + 1vw);
  }
  .wrapper .contacts .contacts-items {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wrapper .contacts .search {
    left: 80%;
    bottom: 16rem;
    z-index: 99;
  }
  .wrapper .footer nav {
    margin-bottom: 1rem;
  }
  .wrapper .footer .social-icons {
    width: 30%;
  }
}
@media all and (max-width: 1024px) {
  .mac-image.iMac {
    display: none;
  }

  .mac-image.iPad {
    display: block;
  }

  .mac-image.iPhone {
    display: none;
  }

  .wrapper .nav-bar nav a::before {
    top: 2rem;
  }
  .wrapper h1 {
    font-size: calc(2rem + 1vw);
  }
  .wrapper h2 {
    font-size: calc(1rem + 1vw);
    line-height: 3rem;
    padding-left: 3rem;
  }
  .wrapper h3 {
    font-size: calc(.7rem + 1vw);
    line-height: 2.5vw;
    font-weight: 300;
  }
  .wrapper h4 {
    font-size: calc(1rem + .5vw);
  }
  .wrapper p {
    font-weight: 400;
  }
  .wrapper section {
    padding: 2rem 2rem;
  }
  .wrapper .about {
    padding-right: 4rem;
    padding-left: 4rem;
    grid-template-columns: 50% 50%;
  }
  .wrapper .about__main .button {
    width: 10rem;
    height: 3rem;
  }
  .wrapper .propose {
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
  }
  .wrapper .propose__image {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .wrapper .propose__image .robot {
    width: 30vw;
  }
  .wrapper .propose__list {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .wrapper .hints h3 {
    padding-left: 3rem;
  }
  .wrapper .hints .hint-stages {
    margin-top: 2rem;
  }
  .wrapper .hints .hint-stages .stage {
    display: flex;
    max-width: 90%;
  }
  .wrapper .hints .hint-stages .stage__num {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
  }
  .wrapper .hints .hint-stages .stage__card {
    position: relative;
  }
  .wrapper .hints .hint-stages .stage__card .card__content {
    padding-right: 0;
  }
  .wrapper .hints .hint-stages .stage__card .card__content p {
    font-size: calc(.5rem + .5vw);
  }
  .wrapper .hints .hint-stages .stage__card .card__icon {
    opacity: 0.7;
    width: 80%;
  }
  .wrapper .prices h3 {
    padding-left: 3rem;
  }
  .wrapper .prices .card-wrapper {
    padding-top: 3rem;
  }
  .wrapper .prices .card-wrapper .wrap {
    perspective: 100rem;
  }
  .wrapper .prices .card-wrapper .wrap .card {
    padding: 1rem;
    width: 16vw;
  }
  .wrapper .prices .card-wrapper .wrap .card .u-list {
    z-index: 70;
  }
  .wrapper .prices .card-wrapper .wrap .card .u-list .list-item {
    display: flex;
    margin-bottom: 0.3rem;
  }
  .wrapper .prices .card-wrapper .wrap .card .u-list .list-item p {
    font-size: 90%;
    padding-left: 0.5rem;
    padding-top: 0;
    line-height: 1rem;
  }
  .wrapper .prices .card-wrapper .wrap .card .blue-rect {
    top: 3rem;
  }
  .wrapper .prices .card-wrapper .wrap .card .card-title {
    margin-bottom: 2rem;
  }
  .wrapper .prices .card-wrapper .wrap .card h2,
.wrapper .prices .card-wrapper .wrap .card h3 {
    font-size: calc(1rem + 1vw);
    padding-left: 0;
  }
  .wrapper .prices .card-wrapper .wrap .card h2 {
    font-size: calc(1.5rem + 1vw);
  }
  .wrapper .prices .card-wrapper .wrap .card .button {
    box-shadow: initial;
    padding: 1rem 2rem;
  }
  .wrapper .faq .quest-image {
    margin-top: 2rem;
    width: 30vw;
  }
  .wrapper .contacts {
    padding-bottom: 0;
  }
  .wrapper .contacts .contacts-items {
    justify-content: center;
  }
  .wrapper .contacts .contacts-items .feedback-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 0;
  }
  .wrapper .contacts .contacts-items .feedback-form input {
    margin: 1rem;
    padding: 0.5rem 1rem 1rem 0rem;
  }
  .wrapper .contacts .contacts-items .feedback-form ::-moz-placeholder {
    color: #F2F5FE;
    width: 18rem;
    font-size: calc(.5rem + .9vw);
  }
  .wrapper .contacts .contacts-items .feedback-form :-ms-input-placeholder {
    color: #F2F5FE;
    width: 18rem;
    font-size: calc(.5rem + .9vw);
  }
  .wrapper .contacts .contacts-items .feedback-form ::placeholder {
    color: #F2F5FE;
    width: 18rem;
    font-size: calc(.5rem + .9vw);
  }
  .wrapper .contacts .search {
    position: absolute;
    left: 40%;
    bottom: -10%;
  }
  .wrapper .footer {
    padding: 6rem 2rem 4rem 2rem;
  }
  .wrapper .footer .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrapper .footer .social-icons img {
    width: 1.5rem;
    margin: 1rem;
  }
  .wrapper .footer .copyright {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 0.5rem;
    font-weight: 100;
  }
  .wrapper .contacts .search {
    left: 80%;
    bottom: -10%;
    z-index: 99;
  }
}
@media all and (max-width: 960px) {
  .wrapper {
    padding-top: 70px;
    padding-left: 0;
  }
  .wrapper .overlay .popup {
    width: 50%;
    padding: 3rem;
  }
  .wrapper .nav-bar nav a::before {
    top: 3rem;
  }
  .wrapper .header {
    width: 100vw;
    height: 70px;
    flex-direction: row;
    border-right: none;
    box-shadow: 0px 2px 20px #9d9fa5;
  }
  .wrapper .header .nav-burger {
    height: 1.5rem;
  }
  .wrapper .header .nav-title {
    margin-bottom: 0;
    transform: rotate(0deg);
    opacity: 0.7;
    font-size: calc(1rem + 1vw);
    width: 40%;
  }
  .wrapper .header .social-icons {
    flex-direction: row;
  }
  .wrapper .header .social-icons img {
    margin-top: 0;
    margin-left: 1rem;
  }
  .wrapper .faq .accordion {
    grid-column: 1/3;
  }
  .wrapper .faq .faq-wrapper p {
    font-size: 1rem;
  }
  .wrapper .faq .faq-wrapper .faq-item {
    padding: 1rem;
  }
  .wrapper .faq .quest-image {
    width: 30vw;
    opacity: 0;
  }
  .wrapper .work-with-us .stage-wrapper .stage-header__block {
    padding: 0.7rem 0.7rem;
    opacity: 0.5;
  }
  .wrapper .contacts h2 {
    padding-top: 2rem;
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .wrapper .contacts .search {
    left: 80%;
    bottom: 81%;
    z-index: 89;
    width: 15vw;
  }
  .wrapper .contacts .contacts-items {
    flex-wrap: wrap;
  }
  .wrapper .contacts .contacts-items .feedback-form {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-bottom: 0;
  }
  .wrapper .contacts .contacts-items .feedback-form input {
    margin: 0rem;
  }
  .wrapper .contacts .contacts-items .feedback-form ::-moz-placeholder {
    font-size: 0.8rem;
  }
  .wrapper .contacts .contacts-items .feedback-form :-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .wrapper .contacts .contacts-items .feedback-form ::placeholder {
    font-size: 0.8rem;
  }
  .wrapper .contacts .contacts-items h4 {
    margin-bottom: 2rem;
  }
  .wrapper .contacts .global-map-wrapper {
    width: 60vw;
  }
  .wrapper .propose__list {
    grid-column: 1/3;
  }
  .wrapper .propose__list p {
    font-size: calc(.9rem + .5vw);
  }
  .wrapper .propose__image .robot {
    display: none;
  }
  .wrapper .prices {
    padding-bottom: 4rem;
  }
  .wrapper .prices .card-wrapper {
    display: none;
  }
  .wrapper .prices .mobile-prices.card-wrapper {
    display: block;
  }
  .wrapper .prices .mobile-prices {
    margin-top: 2rem;
    display: block;
    width: 100vw;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card {
    padding: 2rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
    margin-bottom: 1rem;
  }
  .wrapper .faq .faq-wrapper {
    grid-column: 1/3;
    margin-bottom: 0rem;
  }
  .wrapper .faq h2 {
    z-index: 55;
  }
  .wrapper .footer {
    padding: 2rem 2rem 1rem 2rem;
  }
  .wrapper .footer .social-icons img {
    margin: 0;
  }
  .wrapper .transform45deg {
    transform: rotate(45deg) translateY(1.1rem);
  }
  .wrapper .transformMin45deg {
    transform: rotate(-45deg) translateY(-1rem);
  }

  .mobile-prices-wrapper .mobile-prices-card .card-title {
    font-size: calc(1.5rem + 1.5vw);
  }
}
@media all and (max-width: 720px) {
  .wrapper .footer .footer-nav nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  .wrapper .nav-bar .social-icons {
    width: 70%;
  }

  .wrapper .footer .footer-nav nav a {
    padding: 0.5rem;
    margin-left: 0;
  }
}
@media all and (max-width: 640px) {
  .wrapper .overlay .popup {
    width: 90%;
  }
  .wrapper .nav-bar .social-icons {
    width: 80%;
  }
  .wrapper .nav-bar nav a::before {
    top: 3rem;
  }
  .wrapper section {
    padding: 4rem 2rem;
  }
  .wrapper section.about {
    padding: 6rem 2rem;
  }
  .wrapper h3 {
    font-size: calc(1rem + .7vw);
  }
  .wrapper .header .social-icons {
    opacity: 0.7;
    width: 80%;
  }
  .wrapper .header .social-icons .nav-title {
    font-size: calc(.7rem + 1vw);
  }
  .wrapper .about h1 {
    margin-bottom: 1rem;
    line-height: 0.9;
    font-size: calc(1.8rem + 1vw);
  }
  .wrapper .about .phone-header .phone-buttom {
    display: none;
  }
  .wrapper .propose__image {
    grid-column: 1/3;
  }
  .wrapper .propose__list p {
    font-size: calc(.7rem + .5vw);
  }
  .wrapper .hints p {
    line-height: 1.5;
  }
  .wrapper .hints .hint-stages {
    margin-top: 2rem;
    flex-direction: column;
  }
  .wrapper .hints .hint-stages .stage {
    flex-direction: column;
  }
  .wrapper .hints .hint-stages .stage .stage__num p {
    font-size: 4rem;
    padding-bottom: 2rem;
    line-height: 1rem;
    opacity: 1;
    text-shadow: 10px 10px 20px #472BCB, -10px -10px 20px #7D62FE;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__content {
    border-left: none;
    border-top: 1px solid #F2F5FE;
    padding-bottom: 2rem;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__content p {
    padding-top: 2rem;
    font-size: 1.2rem;
    padding-bottom: 0;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__icon {
    margin-left: 80%;
    margin-top: -20%;
    opacity: 0.5;
    width: 40%;
  }
  .wrapper .work-with-us {
    padding: 2rem 0rem;
  }
  .wrapper .work-with-us .stage-wrapper {
    width: 90%;
  }
  .wrapper .work-with-us .stage-wrapper .stage-header__block .stage-icon {
    display: block;
    width: 50%;
    margin: auto;
  }
  .wrapper .work-with-us .stage-wrapper .stage-header__block .stage-icon:hover, .wrapper .work-with-us .stage-wrapper .stage-header__block .stage-icon:focus {
    filter: saturate(1) brightness(200%);
  }
  .wrapper .work-with-us .stage-wrapper .stage-header__block h3 {
    display: none;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list {
    min-height: 20rem;
  }
  .wrapper .faq .faq-wrapper p {
    font-size: 0.8rem;
  }
  .wrapper .faq .faq-wrapper .faq-item {
    padding: 0.7rem;
  }
  .wrapper .faq .faq-wrapper .answer-item p {
    padding: 1rem;
  }
  .wrapper .faq .faq-wrapper .active > .answer-item p {
    padding: 1rem;
  }
  .wrapper .faq .quest-image {
    width: 30vw;
    opacity: 0;
  }
  .wrapper .faq .accordion {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .wrapper .contacts {
    flex-direction: column;
  }
  .wrapper .contacts .search {
    display: none;
  }
  .wrapper .contacts .global-map-wrapper {
    width: 100vw;
    height: 50vh;
    position: relative;
  }
  .wrapper .contacts .contacts-items .subscribe {
    padding-left: 0;
    margin-left: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
  }
  .wrapper .contacts .contacts-items .adres {
    font-size: calc(1rem + .5vw);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
  }
  .wrapper .transform45deg {
    transform: rotate(45deg) translateY(1.1rem);
  }
  .wrapper .transformMin45deg {
    transform: rotate(-45deg) translateY(-1rem);
  }
}
@media all and (max-width: 480px) {
  .wrapper p {
    font-size: 0.9rem;
  }
  .wrapper .nav-bar {
    width: 70vw;
    transform: translateX(-70vw);
  }
  .wrapper .nav-bar nav a {
    margin-bottom: 0;
  }
  .wrapper .nav-bar nav a h3 {
    font-size: calc(1rem + 1vw);
  }
  .wrapper h2 {
    font-size: 2rem;
    padding-left: 0rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  .wrapper h3 {
    font-size: calc(1.2rem + 1vw);
    line-height: 1.2;
    font-weight: 300;
    line-height: 1rem;
  }
  .wrapper .header .social-icons {
    justify-content: flex-end;
  }
  .wrapper .header .social-icons img {
    margin-left: 1rem;
  }
  .wrapper .header .social-icons .nav-title {
    display: none;
  }
  .wrapper section.about {
    background: #5333ed;
    padding: 10rem 2rem 2rem 2rem;
  }
  .wrapper .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .wrapper .about .phone-header {
    flex-direction: column;
    justify-content: start;
  }
  .wrapper .about .phone-header .phone-button {
    padding: 0.7rem 1.4rem;
    margin-right: 0rem;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .wrapper .about__mac-image {
    grid-row: 1/4;
    grid-column: 1/3;
  }
  .wrapper .about__mac-image .iPad {
    display: none;
  }
  .wrapper .about__mac-image .iPhone {
    display: block;
  }
  .wrapper .about__main {
    grid-row: 2/4;
    grid-column: 1/3;
    z-index: 88;
  }
  .wrapper .about__main h1 {
    font-size: calc(2rem + 1vw);
    font-weight: 300;
    text-align: start;
  }
  .wrapper .about__main h3 {
    font-size: calc(1.3rem + 1vw);
    line-height: 1.5;
    font-weight: 300;
    text-align: start;
  }
  .wrapper .about__main .button {
    width: 100%;
    margin: 0;
    height: 4rem;
    font-size: calc(1.5rem + 1vw);
  }
  .wrapper .about .search {
    display: none;
  }
  .wrapper .propose {
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-template-rows: 10% 90%;
  }
  .wrapper .hints h2 {
    padding-bottom: 0;
  }
  .wrapper .hints h3 {
    padding-left: 0rem;
    line-height: 1.2;
  }
  .wrapper .hints .hint-stages {
    margin-top: 2rem;
    flex-direction: column;
  }
  .wrapper .hints .hint-stages .stage {
    flex-direction: column;
  }
  .wrapper .hints .hint-stages .stage .stage__num p {
    font-size: 4rem;
    padding-bottom: 2rem;
    line-height: 1rem;
    opacity: 1;
    text-shadow: 10px 10px 20px #472BCB, -10px -10px 20px #7D62FE;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__content {
    border-left: none;
    border-top: 1px solid #F2F5FE;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__content p {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .wrapper .hints .hint-stages .stage .stage__card .card__icon {
    width: 50%;
    bottom: 2rem;
  }
  .wrapper section.work-with-us {
    padding: 4rem 0rem;
  }
  .wrapper section.work-with-us h2 {
    padding-left: 2rem;
  }
  .wrapper section.work-with-us .stage-wrapper {
    width: 100%;
  }
  .wrapper section.work-with-us .stage-wrapper .stage-header__block .stage-icon {
    display: block;
    width: 90%;
  }
  .wrapper section.work-with-us .stage-wrapper .stage-header__block h3 {
    display: none;
  }
  .wrapper section.work-with-us .stage-wrapper .stage-content h3 {
    padding-bottom: 2rem;
  }
  .wrapper .prices {
    padding: 2rem 1rem;
    padding-bottom: 4rem;
  }
  .wrapper .prices h3,
.wrapper .prices h2 {
    padding-left: 0;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .price-title {
    padding-top: 0;
    padding-bottom: 0;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.small {
    top: 2rem;
    right: 2rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.large {
    top: 4rem;
    right: 0.5rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .card-title {
    margin-bottom: 2rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list {
    padding-top: 2rem;
    margin-bottom: 0rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list .list-item .checkbox {
    display: none;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
    border-radius: 5px;
    padding: 2vw 5vw;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .u-list {
    min-height: 18rem;
  }
  .wrapper .faq {
    padding: 1rem;
    padding-bottom: 4rem;
  }
  .wrapper .faq .faq-wrapper p {
    font-size: 1rem;
  }
  .wrapper .faq .quest-image {
    width: 55vw;
    opacity: 0;
  }
  .wrapper .faq .accordion {
    grid-column: 1/3;
  }
  .wrapper .contacts .search {
    display: none;
  }
  .wrapper .contacts h2 {
    padding-left: 2rem;
  }
  .wrapper .contacts .contacts-items h4 {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .wrapper .contacts .adres .phone {
    margin: auto;
  }
  .wrapper .contacts .adres .phone a {
    font-size: 1.5rem;
  }
  .wrapper .contacts .contacts-items .subscribe {
    display: none;
  }
  .wrapper .transform45deg {
    transform: rotate(45deg) translateY(1rem);
  }
  .wrapper .transformMin45deg {
    transform: rotate(-45deg) translateY(-1.1rem);
  }
  .wrapper .footer {
    flex-direction: column;
  }
  .wrapper .footer .logo {
    margin-bottom: 1rem;
  }
  .wrapper .footer .footer-nav {
    padding-top: 0rem;
  }
  .wrapper .footer .social-icons {
    margin: auto;
    width: 60%;
    margin-bottom: 2rem;
  }
  .wrapper .footer .social-icons a {
    margin-left: 0;
  }
  .wrapper .footer .social-icons img {
    margin: 0rem;
  }
}
@media all and (max-width: 400px) {
  .wrapper .faq {
    padding-bottom: 11rem;
  }
}
@media all and (max-width: 375px) {
  .wrapper p {
    font-size: 0.8rem;
  }
  .wrapper .overlay .popup {
    width: 100%;
  }
  .wrapper .header .nav-title {
    display: none;
  }

  .wrapper h2 {
    font-size: 1.7rem;
    padding-left: 0;
  }

  .wrapper .about .phone-header .phone-button p {
    font-weight: 600;
  }

  .wrapper .about__main .button {
    width: 80vw;
  }

  .wrapper .propose {
    grid-template-rows: 10% 90%;
  }

  .wrapper .propose__list ul {
    width: 100%;
    padding: 0.5rem;
  }

  .wrapper .propose__list ul p {
    padding: 0 1rem;
  }

  .wrapper .prices .mobile-prices {
    margin-top: 0rem;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card {
    padding: 1rem;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
    font-size: 1rem;
    padding: 2vw 8vw;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .u-list .list-item p {
    line-height: 1.2;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .u-list .list-item .checkbox {
    display: none;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.small {
    top: 2rem;
    right: 0.5rem;
  }
  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .gift-icon.large {
    top: 3.5rem;
    right: 0.3rem;
  }

  .wrapper .faq .quest-image {
    width: 30vw;
  }

  .wrapper .faq .faq-wrapper p {
    font-size: 0.8rem;
  }

  .wrapper .contacts .contacts-items .feedback-form {
    padding: 1rem;
  }
}
@media all and (max-width: 320px) {
  .wrapper .faq {
    padding-bottom: 12rem;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card h2 {
    font-size: calc(1.1rem + 1vw);
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card {
    padding: 1rem;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .card-title {
    margin-bottom: 1rem;
  }

  .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .u-list {
    min-height: 14rem;
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card h2 {
    font-size: calc(1rem + 1vw);
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .mobile-prices-wrapper .mobile-prices-card .card-title {
    font-size: calc(1rem + 1.5vw);
  }

  .wrapper .mobile-prices .mobile-prices-wrapper .mobile-prices-card .card .button {
    padding: 1vw 8vw;
  }
}
.wrapper .transformTransX {
  transform: translateX(0px);
}/*# sourceMappingURL=style.css.map */