@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$dark-font: #060411;
$light-font: #F2F5FE;
$gray-shadow: #363739d3;
$gray:#363739;
$purple-accent: #5333ed;
$aqua-accent:#2cd4d9;
$white:#ffffff;

@mixin overlay {

    width: 100%;
    height: 100vh;
    z-index: 33;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $gray-shadow;

}

@mixin popup {
    background-color: $light-font;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    color: $purple-accent;
    position: relative;
    overflow: visible;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: $gray-shadow;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.wrapper {
    max-width: 1920px;
    overflow: hidden;

    h1,
    h2,
    h3 {

        font-family: 'Raleway', sans-serif;
    }

    h5 {

        font-weight: normal;
        font-size: 1.125rem;
        line-height: 32px;
    }

    h4,
    p,
    a {
        font-family: 'Lato', sans-serif;
    }

    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 4rem;
        line-height: 3rem;
    }

    h2 {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        padding-left: 8.75rem;
    }

    h3 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 300;
    }

    h4 {


        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
    }

    section {
        padding: 8.125rem 6.25rem;

        h2 {
            color: $gray-shadow;
        }
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato', sans-serif;

        font-weight: 700;
        font-size: 1.5rem;
        line-height: 22px;
        border-radius: 10px;

        box-shadow: 10px 10px 20px #D6D8E0,
            -10px -10px 20px $white;

    }

    .overlay {
        display: none;
        @include overlay();

        .popup {
            margin: 10% 30% 10% 30%;
            @include popup();

            h3 {
                margin-bottom: 2rem;
            }

            h4 {
                margin-bottom: 4rem;
            }

            input {
                border: 1px solid $purple-accent;
                // height: 3rem;
                // width: 80%;

                padding: 1rem;
                margin: auto;
                margin-bottom: 1rem;
                border-radius: .5rem;

            }

            ::placeholder {
                font-size: 1rem;
            }

            [type="button"] {
                background-color: $purple-accent;
                color: $light-font;
                font-size: 1rem;
                color: $light-font;
            }

            &__close {
                position: absolute;
                top: -2rem;
                left: 105%;

                img {
                    width: 2rem;
                }

            }

        }


    }

    .overlay-recall {
        display: none;
        @include overlay();

        .popup-recall {
            @include popup();
            padding: 5rem;
            // width: 60%;
            // height: 40%;

            margin: 10% auto;

            background-image: url('http://localhost:8888/roboclick/images/manager.png');
            background-repeat: no-repeat;
            background-position: -40% 4%;

            &__close {
                position: absolute;
                top: -20%;
                left: 100%;

                img {
                    width: 2rem;
                }
            }
        }


    }

    .header {
        // width: 100%;
        height: 7.625rem;
        // padding: 1rem 6.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $light-font;

        .logo {
            width: 4.25rem;
            height: 2.43rem;
        }

        nav {
            width: 61.31rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            a {
                display: block;
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 2rem;
                transition: all 1s ease-in-out;
                padding-bottom: 1rem;

                &:hover {
                    border-bottom: 1px solid $gray;
                }

                // &::before {
                //     content: "1";
                //     //  width: 3rem;
                //     //  height: 1px;
                //      margin-top:3rem;
                //     //  background-color: $gray;
                // }
            }




        }

        .button {
            width: 11.32rem;
            height: 3.875rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .about {
        // height: 55.25rem;
        padding-right: 6.25rem;
        padding-left: 15rem;
        background-color: $aqua-accent;
        color: $light-font;
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;

        h1 {
            margin-bottom: 2rem;
        }

        .search {
            position: absolute;
            left: 50%;
            right: 50%;
            z-index: 25;
        }

        &__main {
            grid-template-columns: 1/2;
            display: flex;
            flex-direction: column;
            justify-content: center;



            h3 {


                margin-bottom: 6.25rem;
                padding: 0;
            }

            .button {
                width: 16.125rem;
                height: 5rem;
                box-shadow: 10px 10px 20px #2ABFC3,
                    -10px -10px 20px #31EFF4;

                h3 {
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
        }

        &__mac-image {
            grid-column: 2/3;
            position: relative;

            .mac-image {

                width: 100%;

            }


        }

    }

    .propose {
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
        background-color: $light-font;
        color: $dark-font;
        // height: 50rem;
        display: grid;
        grid-template-columns: 50% 50%;
        position: relative;

        .search {
            position: absolute;
            top: 20%;
            left: 30%;
            width: 6.25rem;
            height: auto;

        }

        &__image {
            grid-column: 1/2;
        }

        &__list {
            grid-column: 2/3;

            ul {
                // margin-left: ;
                width: 80%;
                // list-style: url('http://localhost:8888/roboclick/images/list-marker.png');

                p {
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding: 0 1.5rem;
                }

                li {
                    margin-bottom: 2rem;
                }

            }
        }

    }

    .hints {

        position: relative;
        background-color: $purple-accent;
        color: $light-font;
        // height: 59.625rem;


        h2 {
            color: $light-font;
        }

        h3 {
            padding-left: 8.75rem;
        }

        .hint-stages {

            margin-top: 4.125rem;
            display: flex;
            // display: grid;
            // grid-template-columns: 20% 20% 20% 20%;

            .stage {
                display: flex;
                width: 90%;

                &__num {
                    // width: 30%;
                    padding-right: 1rem;
                    padding-top: .5rem;

                    p {

                        text-shadow: 10px 10px 20px #7D62FE,
                            -10px -10px 20px #472BCb;
                        font-weight: normal;
                        font-size: 72px;
                        line-height: 32px;
                    }


                }

                &__card {
                    position: relative;

                    .card__content {

                        height: 16.25rem;
                        padding: 0 2rem;
                        padding-right: 0;
                        border-left: 1px solid $light-font;

                        p {
                            font-size: 1rem;
                        }

                    }

                    .card__icon {
                        // position: absolute;
                        // bottom: -7rem;
                        // right: 0;

                        width: 15vw;

                    }


                }
            }


        }

        .search {
            position: absolute;
            width: 18.75rem;
            top: 80%;
            left: 70vw;
        }

    }

    .work-with-us {
        background-color: $gray;

        h2 {
            color: $light-font;
        }

        .stage-slider {
            display: flex;
            flex-direction: row;
            padding: 2rem;
            padding-left: 0;
            background-color: $light-font;

            .stage-header {

                display: flex;
                flex-direction: column;
                background-color: $light-font;
                padding: 2rem;
                padding-top: 2rem;


                .stage-block {
                    background-color: $gray;
                    color: $light-font;
                    margin-bottom: 2rem;
                    padding: .5rem 1rem;
                    opacity: .5;
                }
            }

            .stage-block.active {
                opacity: 1;
            }

            .stage-content {
                display: flex;
                flex-direction: column;

                &__block {
                    margin: auto;
                }
            }
        }



    }

    .prices {
        background-color: $light-font;

        h3 {
            padding-left: 8.75rem;
        }

        // .card-wrapper {
        //     position: relative;
        //     perspective: 800px;
        //     display: none;
        //     // display: flex;
        //     // width: 90%;
        //     justify-content: center;
        //     margin: auto;
        //     padding: 2rem;

        //     .card {
        //         transform: rotateY(-20deg);
        //         position: relative;
        //         background-color: $white;
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         padding: 2.5rem;
        //         box-shadow: 10px 10px 40px #E9E9EB;
        //         transition: all .5s ease-in-out;
        //         max-width: 20vw;

        //         ul {
        //             // list-style: url('http://localhost:8888/roboclick/images/roboclick-marker.svg');

        //             li {

        //                 margin-bottom: 1rem;

        //                 p {
        //                     padding-left: 2rem;
        //                     padding-top: 0;
        //                 }

        //                 &::marker {

        //                     width: 1rem;

        //                 }
        //             }
        //         }

        //         .blue-rect {
        //             position: absolute;
        //             width: 25%;
        //             height: 60%;
        //             background-color: $aqua-accent;
        //             opacity: .2;
        //             left: 0;
        //         }

        //         h3,
        //         h2 {
        //             padding-left: 0;
        //         }

        //         .price-title {
        //             text-align: center;
        //             margin-bottom: 2rem;
        //         }

        //         .button {
        //             box-shadow: initial;
        //             // width: 100%;
        //             padding: 8% 16%;
        //             border: 1px solid $purple-accent;
        //             color: $purple-accent;

        //         }

        //         &:hover {
        //             transform: rotateY(0deg);

        //             h3 {
        //                 color: $aqua-accent;
        //             }

        //             .price-title {
        //                 color: $dark-font;
        //             }

        //             .button {
        //                 background-color: $aqua-accent;
        //                 color: $light-font;
        //                 border: none;

        //             }

        //         }


        //     }

        // }

//         .card-slider {

// display: none;
//             width: 90%;
//             overflow: hidden;

//             .card-track {
//                 display: flex;
//                 flex-direction: row;
//                 flex-wrap: nowrap;

//                 .card {
//                     margin: 2rem;
//                 }
//             }
//         }
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card {
   // transform: rotateY(-20deg);
    position: relative;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    box-shadow: 10px 10px 40px #E9E9EB;
    transition: all .5s ease-in-out;
    max-width: 20vw;

    ul {
        // list-style: url('http://localhost:8888/roboclick/images/roboclick-marker.svg');

        li {

            margin-bottom: 1rem;

            p {
                padding-left: 2rem;
                padding-top: 0;
            }

            &::marker {

                width: 1rem;

            }
        }
    }

    .blue-rect {
        position: absolute;
        width: 25%;
        height: 60%;
        background-color: $aqua-accent;
        opacity: .2;
        left: 0;
    }

    h3,
    h2 {
        padding-left: 0;
    }

    .price-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .button {
        box-shadow: initial;
        // width: 100%;
        padding: 8% 16%;
        border: 1px solid $purple-accent;
        color: $purple-accent;

    }

    &:hover {
        transform: rotateY(0deg);

        h3 {
            color: $aqua-accent;
        }

        .price-title {
            color: $dark-font;
        }

        .button {
            background-color: $aqua-accent;
            color: $light-font;
            border: none;

        }

    }


}

    }

    .faq {
        background-color: $purple-accent;

        color: $light-font;

        h2 {
            color: inherit;
        }

        .faq-item {
            color: $gray;
            padding: 2rem;
            background-color: $white;
            margin-bottom: .5rem;
            position: relative;

            z-index: 66;
        }

        .faq-item.active+.answ-item {
            display: block;
        }

        .answ-item {
            background-color: $aqua-accent;
            // max-height: 0;//2var
            opacity: 0;
            transition: all 1s ease-in-out;
            margin: .5rem;
            z-index: 10;
            display: none; //1var
            color: $gray; //1var
            padding: 2rem; //var

            p {

                animation: fadeInBlock 5s linear .1s;
            }

        }

        .answ-item.active-content {
            // opacity: 1;//var2
            padding: 2rem;
            color: $gray;
            position: relative;

        }

        // .faq-item.active+.answer-item{
        //     display: flex;
        // }

    }
}

@keyframes fadeInBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.status-message {
    display: block;
    color: red;
}